*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

body{
  background: linear-gradient(45deg, #190361 0%, #B0F 100%);
  animation: gradient 10s ease infinite;
  font-size: 1.6rem;
  
  display: grid;
  place-items: center;
  height: 100vh;
  
  color: #34355B;
  font-family: 'Montserrat', sans-serif;
}



/* screen 1 */
.screen1{
  border-radius: .5rem;
  background: #FFF;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
  
  width: 42.8rem;
  padding: 6.4rem;
  
  text-align: center;
  margin: auto;
}

h1{
  font-size: 2.4rem;
  font-weight: 700;
  padding: 0 2rem;
}

p{
  font-size: 1.5rem;
  font-family: 'DM Sans', sans-serif;
  margin: 1.4rem 0 2rem;
}

/* screen 2 */
.screen2{
  border-radius: .5rem;
  background: #FFF;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
  
  padding: 4.8rem 6.4rem;
  width: 42.8rem;
  
  
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hide{
  display: none;
}

h2{
  font-size: 2.4rem;
  font-weight: 700;
}

.screen2 p{
  padding: 1rem;
  background: #E4EDF1;
  box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);   

  color: #000;
  font-size: 2.4rem;
  font-family: 'Dancing Script', cursive;
  margin: 1.7rem 0;
}

.screen2 img{
  padding: 4.2rem 0;
}

button{
  background: #FF9500;
  color: #FFF;
  border-radius: .4rem;
  border: none;
  margin: auto;
  
  padding: 1.6rem;
  margin-top: 1.7rem;
  
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'DM Sans', sans-serif;

  transition: background .4s;
}

button:hover{
  background-color: #d98107;
}


/* @KEYFRAMES / ANIMAÇÕES */

/* Background degradê em loop */
body {
  background: linear-gradient(45deg, #190361, #bb00ff);
  animation: gradient 10s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}


/* Biscoito vibrando */
#imgCoockie{
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#imgCoockie:hover {
  animation: tremor 0.4s ease-in-out infinite;
}

@keyframes tremor {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Mensagem saindo de dentro do biscoito */
.screen2 p {
  animation: upMessage 0.7s ease-out forwards;
}

@keyframes upMessage {
  0% {
    opacity: 0;
    transform: translateY(16rem) scale(0.2);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}